---
const {data} = Astro.props
---

<a href={data.url}>
	<h2>{data.title}</h2>
	<p>{data.description}</p>
</a>

<style lang="postcss">
	a {
		@apply p-3 shadow no-underline rounded border block;
	}
	h2 {
		@apply text-2xl;
	}
	p {
		@apply italic;
	}
</style>